<%= form_for(@home_assistant) do |f| %>
  <% if @home_assistant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@home_assistant.errors.count, "error") %> prohibited this home_assistant from being saved:</h2>

      <ul>
      <% @home_assistant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :lasT_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


