<p id="notice"><%= notice %></p>

<h1>Listing Home Assistants</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @home_assistants.each do |home_assistant| %>
      <tr>
      <td><%= home_assistant.first_name %></td>
      <td><%= home_assistant.last_name %></td>
      <td><%= home_assistant.email %></td>
      <td><%= home_assistant.address %></td>
        <td><%= link_to 'Show', home_assistant %></td>
        <td><%= link_to 'Edit', edit_home_assistant_path(home_assistant) %></td>
        <td><%= link_to 'Destroy', home_assistant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Home assistant', new_home_assistant_path %>
