<p id="notice"><%= notice %></p>

<h1>Listing Seniors</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @seniors.each do |senior| %>
      <tr>
        <td><%= senior.first_name %></td>
        <td><%= senior.last_name %></td>
        <td><%= senior.email %></td>
        <td><%= senior.address %></td>
        <td><%= link_to 'Show', senior %></td>
        <td><%= link_to 'Edit', edit_senior_path(senior) %></td>
        <td><%= link_to 'Destroy', senior, method: :delete, data: { confirm: 'Are you sure you want to delete senior user ' + senior.first_name + ' ' + senior.last_name + '?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Senior', new_senior_path %>
