<p id="notice"><%= notice %></p>

<p>
  <strong>Naam:</strong>
  <%= @senior.first_name %>
</p>

<p>
  <strong>Achternaam:</strong>
  <%= @senior.last_name %>
</p>

<p>
  <strong>Informal care provider:</strong>
  <%= @senior.informal_care_provider.first_name %>
</p>

<%= link_to 'Edit', edit_senior_path(@senior) %> |
<%= link_to 'Back', seniors_path %>
