<p id="notice"><%= notice %></p>

<p>
  <strong>Naam:</strong>
  <%= @senior.full_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @senior.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @senior.address %>
</p>

<p>
  <strong>Informal Care Providers of <%= @senior.full_name %>: </strong>
  <%= render @senior.informal_care_providers %>
</p>

<h2>Add an Informal Care Provider:</h2>
<p>
  <%= render "/informal_care_providers/form" %>
</p>





<%= link_to 'Edit', edit_senior_path(@senior) %> |
<%= link_to 'Back', seniors_path %>
